*{
	box-sizing: border-box;
}
html, body{
 height: 100%;
}
body{

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: hsl(217, 54%, 11%);
}

img{
	max-width: 100%;
}

#div-principal{
	/*background-color: hsl(0, 0%, 100%);*/
	background-image: url(../img/fundo.jpg);
	padding: 1%;

	max-width: 100%;
	height: auto;

	border: 1px solid;
	border-color: #000 #000;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 4px hsl(1, 100%, 100%);

}

#div-principal:hover{
	cursor: auto;
}

@keyframes loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}



/* ---------------------------------------------------------*/




section{
	float: left;
	width: 50%;
}
section .text-Negrito{
	font-weight: 900;
}
section h1{
	margin-top: 1.5%;
	margin-bottom: 1%;
}
section h1.n-bi{
	font-weight: 600;
	font-size: 90%;
}
section img.director{
	max-width: 50%;
	margin-left: 10%;
	margin-bottom: 1%;
}
section img.BarraCode{
	max-width: 50%;
	margin-left: 10%;
}

/* ---------------------------------------------------------*/

aside{
	float: right;
	width: 50%;
}
aside figure{
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	display: flex;
	justify-content: right;
}
aside figure   img.digital{
	max-width: 50%;
	opacity: 70%;
	border-radius: 90% 80% 90% 40%;
	

}

aside div.merda{
	display: flex;
	align-items: center;
	justify-content: right;
}

aside img.QrCode{
	max-width: 50%;
	height: 130px;
	opacity: 70%;
}
aside img.hu2{
	max-width: 20%;
	margin-right: 20%;
	
}












