*{
	box-sizing: border-box;
}
html, body{
 height: 100%;
}
body{

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: hsl(217, 54%, 11%);
}

img{
	max-width: 100%;
}

#div-principal{
	background-image: url(../img/fundo.jpg);
	padding: 1%;

	max-width: 100%;
	height: auto;

	border: 1px solid;
	border-color: #000 #000;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 4px hsl(1, 100%, 100%);

}

header .insignia:hover{
	animation: loading 30s infinite;
	cursor: pointer;
}
header .mini-mapa:hover{
	animation: loading 30s infinite;
	cursor: pointer;
}
#div-principal:hover{
	cursor: auto;
}

@keyframes loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}



/* ---------------------------------------------------------*/

header{
	/* background-color: darkred; */
	padding: 0.5%;
	margin-bottom: 2%;

	display: flex;
	align-items: center;
	justify-content: space-between;


}
header p{
	display: inline-block;
	margin: 0.5%;
}

header .insignia{
	max-width: 20%;
	height: 5em;
	margin-right: auto;
}

header .mini-mapa{
	max-width: 20%;
	height: 5em;
	margin-left: auto;
}

header .text1{
	font-size: 100%;
	font-weight: bolder;
}


/* ---------------------------------------------------------*/


section{
	float: left;
	width: 50%;
}
section .text-Negrito{
	font-weight: 900;
}
section h1{
	margin-top: 1%;
}
section .n-bi{
	font-weight: 900;
}

/* ---------------------------------------------------------*/

aside{
	float: right;
	width: 50%;
}
aside figure,p,aside figcaption{
	max-width: 50%;
	margin-left: auto;
}
aside figcaption{
	margin-top: 2%;
	font-size: 52%;
	font-weight: bolder;
}
p{
	text-align: center;
	margin-top: 2%;
	font-size: 50%;
	font-weight: bolder;
}
div a{
	text-decoration: none;
	font-size: 100%;
}











